<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="./css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="css/style.css
    "
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
      integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
    {{>navbar}}
    <div class="container-fluid mt-5">
      <div class="row mx-auto">
        <div class="col-11 col-md-5">
          <h1 class="display-3">Our Service is Best</h1>
          <p class="lead">Lorem ipsum, dolor sit amet consectetur adipisicing
            elit. Quisquam exercitationem, enim quidem mollitia, facere culpa
            officiis cumque esse ullam doloribus quos, aperiam dolore sapiente
            minus molestias! Itaque neque earum voluptate.</p>
          <button class="btn btn-outline-dark">read more</button>

        </div>
        <div class="col-11 col-md-5">
          <img src="img/home.webp" alt="" class="img-fluid" />
        </div>
      </div>
    </div>

    <div class="container-fluid mt-5">
      <div class="row mx-auto">

        <h2 class="display-4 mx-auto text-center">
          About Us
          </h2>

        <div class="col-11 col-sm-6 col-md-4 m-2 mx-auto">
          <div class="card">
            <span class="mx-auto text-center"><i
                class="fa-solid fa-server display-5 m-2 border border-dark p-3 rounded-circle"
              ></i></span>
            <div class="card-body">
              <h5 class="card-title"> 
                Server</h5>
              <p class="lead">Lorem ipsum dolor sit amet consectetur Lorem,
                ipsum dolor. adipisicing elit. At, ipsa!.</p>
              <a href="#" class="btn btn-dark">Go somewhere</a>
            </div>
          </div>
        </div>

        <div class="col-11 col-sm-6 col-md-4 m-2 mx-auto">
          <div class="card">
            <span class="mx-auto text-center"><i
                class="fa-regular fa-handshake display-5 m-2 border border-dark p-3 rounded-circle"
              ></i></span>
            <div class="card-body">
              <h5 class="card-title">Good quilty</h5>
              <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing
                elit. Minus quas, tempora voluptas at quis ipsam?. lorem4</p>
              <a href="#" class="btn btn-dark">Go somewhere</a>
            </div>
          </div>
        </div><div class="col-11 col-sm-6 col-md-4 m-2 mx-auto">
          <div class="card">
            <span class="mx-auto text-center"><i
                class="fa-solid fa-globe display-5 m-2 border border-dark p-3 rounded-circle"
              ></i></span>
            <div class="card-body">
              <h5 class="card-title">Server</h5>
              <p class="lead">S Lorem ipsum dolor sit amet consectetur
                adipisicing elit. Asperiores, iusto..</p>
              <a href="#" class="btn btn-dark">Go somewhere</a>
            </div>
          </div>
        </div>

      </div>
    </div>

    <h2 class="display-4 mx-auto text-center mt-4 mb-2">Contact Us</h2>
    <div class="Myforms mx-auto w-50">
        <form action="/contact"  method="post" id="form">
        
          <div class="form-group my-2">
            <label for="exampleInputEmail1">Email address</label>
            <input
              type="email"
              class="form-control"
              id="exampleInputEmail1"
              aria-describedby="emailHelp"
              placeholder="Enter email"
              name="email"
            />
            <small id="emailHelp" class="form-text text-muted">We'll never share
              your email with anyone else.</small>
          </div>
          <div class="form-group my-2">
            <label for="exampleInputPassword1">Password</label>
            <input
              type="password"
              class="form-control"
              id="exampleInputPassword1"
              placeholder="Password"
              name="password"
            />
          </div>

          <div class="form-group my-2">
            <label for="exampleInputPassword1">phone Number</label>
            <input
              type="number"
              class="form-control"
              id="exampleInputPassword1"
              placeholder="number"
              name="phone"
            />
          </div>

          
          {{!-- <button type="submit" class="btn btn-primary">Submit</button> --}}
          <input type="submit" value="submit" class="btn btn-success">
          </form>
      </div>
<script src="js/index.js"></script>
    <script src="../js/bootstrap.js"></script>
  </body>
</html>